@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif; /* CHANGE THIS LINE */

}

/* Force override of inline link styles inside blog content */
.blog-content a,
.blog-content a * {
  color: #18a54c !important;         /* Tailwind green-700 */
  text-decoration: none !important;  /* Remove underline */
  font-weight: bolder !important;
  font-family: poppins, sans-serif !important; /* Ensure consistent font */
}

.blog-content a:hover,
.blog-content a:hover * {
  color: #12bd53 !important;         /* Tailwind green-800 */
  font-weight: bolder !important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #29c061; /* Tailwind green-700 */
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #15bd52 transparent;
}
